
.evnts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.evnts div{
    height:200px;
  
}
.deb{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.debate{
width: 300px;
}
.debcon{
    box-shadow: -4px 4px 10px grey;
    border-right:2px gray solid;

    width: 694px;
}
 p{
     padding: 0px 10px;
    font-family: poppins;
    font-size: 20px;
}
.evnts p{
    border-top:2px solid gray ;
}
.debate  img{
    border-radius: 25px;
    width: 210px;
    height: 161px;
}
.des{
    display:flex;
    justify-content:space-around;
}
.descon {
    box-shadow: 4px 4px 10px grey;
    border-left:2px gray solid;
    width: 423px;
    
}

.design  img{
    border-radius: 25px;
    width: 210px;
    height: 161px;
}

.web {
    display:flex;
    justify-content: space-around;
}
.webcon{
    box-shadow: -4px 4px 4px grey;
    border-right:2px gray solid;

    width: 620px;
}
.comp{
    
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.code {
    box-shadow: 4px 4px 10px grey;
    border-left:2px gray solid;
    width: 654px;

}

.coding{
  
    width: 210px;
}
.coding  img{
    border-radius: 25px;
    width: 210px;
    height: 161px;
}
.webinars  img{
    border-radius: 25px;
    width: 210px;
    height: 161px;
}
#star{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: space-around;
}
  .starcon{
    box-shadow: 4px 4px 10px grey;
    border-left:2px gray solid;

    width: 774px;
    height: 200px;
}
.start  img{
    border-radius: 25px;
    width: 210px;
    height: 161px;
}

.fest{
    display: flex;
    justify-content: space-around;
}
 
.festcon{
    box-shadow: -4px 4px 10px grey;
    border-right:2px gray solid;

    width: 650px;
}
.cultural  img{
    border-radius: 25px;
    width: 210px;
    height: 161px;
}
.event-slide{
    margin-top: 20px;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #495057;
}
.eventslide{
    height: 484px;
    width: 1280px;
    background-image: url(img/inv.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: eventslides 14s  infinite ease;
}
@keyframes eventslides {
    0%{
    background-image: url(img/debate.jpg) ;

    }
    20%{
    background-image: url(img/web.jpg) ;

    }
    40%{
    background-image: url(img/inv.jpg) ;

    }
    
    60%{
    background-image: url(img/cultural.jpg) ;

    }
}