
* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}
::selection{
    color:white;
    background: #495057;
}

/* navigation section */
.first{
    position: fixed;
}
.second{
    position:relative;
}

.header{
  position: sticky;
    top: 0;
    z-index: 1;
}
#background{
    min-height: 100vh;
    width: 100%;
    background-image: url(img/clg.jpg);
    background-size: cover;
    position: relative;
}
#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 60px;
    background-color: #1287A8;
}

#logo img {
    margin-left: 4px;
    margin-top: 5px;
    width: 50px;
    border-radius: 60px;
}

#navbar ul {
    margin-top: 9px;
    display: flex;
}

#navbar ul li {

    list-style: none;
}

#navbar ul li a {
    font-size: 20px;
   display: inline-flex;
    color: white;
    text-decoration: none;
    padding: 8px 64px;
}

#navbar ul li a:hover {
    background-color:#555 ;
    color: white;
}



.search {
    display: flex;
    margin: 20px 0px;
}
.search input,button{
    align-self: flex-end;
}

.search button {
    background-color: cyan;
    font-size: 15px;
    padding: 0px 12px;
}

.search input {

    font-size: 15px;
}

button:hover {
    cursor: pointer;
}

.text {
    color: #faf2f2;
    font-size: 100px;
    padding-left: 2rem;
    align-items: center;
}
.text .primary{
    font-family: poppins;
  
}
.text .secondary{
    font-size: 50px;
    position: relative;
    animation-name: movingtext;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}
@keyframes movingtext {
    from{
        left: 0px;
    }
    to{
    transform: scale(0.6);
        left: 47px;
    }
    
}
/* courses dropdown */
.dropdown{
    position: relative;
    display:inline-block;
}

.content{
    background-color:#555 ;
    color: white;
    display: none;
    min-width: 201px;
    position: absolute;
    font-size: 20px;
    padding-top: 10px;
}
.dropdown:hover .content{
display: block;
}

/* About section */
#about {
    position: relative;
    font-size: 30px;
    text-align: center;
    
}
.heading{
    text-shadow: 2px 2px 4px grey;
    font-family: poppins;
    margin: 8px 10px 47px 0px;
     font-size: 65px;
}
.dot{
    margin-top: 30px;
    width:50px;
    border-top: 6px dotted grey;
}
#about p{
    word-spacing: 30px;
}




/* alumni section */
.al-head{
    text-align: center;
}
#alumni{
    height:500px;
display:flex;
flex-wrap: wrap;
justify-content: space-around;
}
.alimg{
    height:200px ;
    width:200px ;
}

.alb{
    display: flex;
    height:200px;
    width:200px;
    box-shadow: 10px 10px 10px grey;
    
}
.alb :hover{
    border-radius: 70px;
    transform: scale(1.5);
    transition-duration: 1.5s;

}

.alumni-2{
    align-self: end;
}


/* Event section */

#events h1{
    text-align: center;
}
.ev-txt{
    font-size: 35px;
    word-spacing: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
#events p{
    margin-bottom: 25px;
}
#events a{
    margin:0px 5px;
    background-color: #1287A8;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 16px;
    padding: 3px 30px;
}

/* footer section */
#footer{
    margin-top: 10px;
    background-color:#495057 ;
    color: white;
    font-family: poppins;
    display: flex;
    align-items: center;
    height: 400px;
    justify-content: space-around;
}
.contact{
    font-family: poppins;
    height: 225px;
    width: 210px;
}
 .icon{
      width: auto;
    font-size: 40px;
}

.fab:hover {
cursor: pointer;
}
.ic{
    align-self: center;
}
.icon a i{
   
    color:white;
}

.address{
    margin-bottom: 30px;
}
.contact h3 i {
 color: rgb(204, 192, 31);
    padding-right: 4px;
}

.btn{
    color:white;
    text-decoration: none;
    background:linear-gradient(to right,#1488CC,#2B32B2);
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 10px;


}
.btn:hover{
    background: rgb(78, 73, 73);
}

.courses{
    font-family: poppins;
    height: 200px;
    width: 300px;
}

.imperial{
    height: 200px;
    width: 305px;
    overflow-wrap: inherit;
}
.imperial p {
    font-size: 17px;
    word-spacing: 5px;
}
.courses ul {
   text-align: left;
}
.foothead{
    margin-bottom: 10px;
}
.copyright{
    text-align: center;
}

/* slideshow */
.slideshow{
    height: 550px;
    width: 1527px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #495057;
}
.slide{
    height: 484px;
    width: 1280px;
    background-image: url(img/bac.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: slider 30s  infinite linear;
}
@keyframes slider {
    0%{
    background-image: url(img/bac.jpg) ;

    }
    20%{
    background-image: url(img/classroom.jpg) ;

    }
    40%{
    background-image: url(img/cd.jpeg) ;

    }
    
    60%{
    background-image: url(img/sport.jpg) ;

    }
}